{% extends "_base.html" %}

{% block content %}
<h2>Hi, {{user.username}}. Would you like to edit your favorite cells?</h2>

<div class="row">
  <div class="column" style="background-color:#BDB76B;">
    <h2>Available cells:</h2>
    {% for cell in cells %}
        <p>{{cell}} {% if my_favcell %}<a href="{{url_for('add_item', user_id = user.id, cell_id = cell.id, favcell_id = my_favcell.id)}}">Add</a>{% endif %}</p>
    {% endfor %}
  </div>

  <div class="column" style="background-color:#F0F8FF;">
    <h2>Your current favorite cells:</h2>
    {% if my_favcell %}
    {% for cell in my_favcell.items %}
        <p>{{cell}} <a href="{{url_for('remove_item', user_id = user.id, item_id = cell.id)}}">Remove</a></p>
    {%endfor%}
    {% endif %}
  </div>
</div>
{% endblock %}
